<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
    }
    </style>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
    <table  style="width:100%">
      <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Email </th>
      </tr>

        <tr>
           <td> <%= user.id %> </td>
           <td> <%= user.firstname %> </td>
           <td> <a href="/users/<%= user.id %>"> <%= user.email %> </a> </td>
        </tr>
    </table>
    </div>
  </body>
</html>
